<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SWB</title>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
<body>
    <div class="container">
        <aside class ="sidebar">
            <nav>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li class="has-submenu">
                        <a href="#">REVIEWS</a>
                        <ul class="submenu">
                            <li><a href="#">movie reviews</a></li>
                            <li><a href="#">perfume reviews</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">ABOUT</a>
                        <ul class="submenu">
                            <li><a href="/src/pages/swb.html">SWB</a></li>
                            <li><a href="#">contributors</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            </aside>
            <section class="swb-section">
                <section>
                    <p>SWB is an inside joke between 2 friends who love perfumes, movies, music, and making fun of "creatives".</p>
                    <div class="spacer"></div>
                    <p>What started off as an actual creative endeavor in 2022, but never</p>
                    <p>made it past a few posts to hype it up has been reimagined as a</p>
                    <p>platform for reviewing things we find interesting and want to share.</p>
                    <p>SWB is commited to not providing honest insights, having for-sale opinions,</p>
                    <p>making fun of the things you love and increasing shareholder revenue.</p>
                    <p>We are also open to collaboration with lobbyists, gene-splicers and defense contractors.</p>
                    <div class="more-space"></div>
                    <p>SWB is wholly owned and controlled by its founders, who are over $600,000.00 in debt to BlackRock.</p>
                </section>
            </section>
        </div>
    </body>
</html>